h1{
    font-size: 38px
}

h2{
  font-size: 32px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    line-height: 1.5;
}

.ingredients-list{
  list-style: square inside;
}

ol {
  list-style: purple;
}

header > img {
  width: 100px;
}

#reviews{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

ul > li > a{
    color: inherit;
    text-decoration: none;
}