/* PHASE 5: Cats */
.profile-picture{
    display: block;
    margin-top: -100px;
    position: relative;
}

.profile-info h2{
    font: caption;
    font-size: 20px;
    font-weight: bold;
}
.profile-info p{
    border-bottom: 3px solid lightgray;
    /* font-weight: normal; */
}

.profile-info p{
    font-size: 15px;
}

.profile-nav a{
    border-bottom: 3px solid lightgray;
    display: block;
    font-size: 15px;
    font-weight: bold;
}

.content-header{
    display: inline-block;
    background-image: url('../images/cats.jpg');
    height: 200px;
    width: 100%;
    background-size:cover;
}
